@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/buttons';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
}

body {
  font-family: var(--font-sans);
  background-color: var(--surface-2);
}

header {
    background-color: var(--surface-1);
}

/* === Top Bar Nav === */

.top-bar-nav {
  position: sticky;
  width: 100%;
  height: 56px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (--xl-n-above) {
    max-width: var(--size-xl);
    margin-left: auto;
    margin-right: auto;
  }
}

.brand {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 16px;
}

.brand_logo {
  width: auto;
  height: 24px;
}

.brand_name {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: var(--text-1);
}

.mobile-nav_toggle {
  padding: 12px;
  background-color: var(--surface-1);
  border: none;
  box-shadow: none;
  cursor: pointer;

  @media (--md-n-above) {
    display: none;
  }
}

.mobile-nav_toggle:hover {
  background-color: var(--surface-2);
}

.mobile-nav_icon {
  width: auto;
  height: 24px;
}

.mobile-nav_drawer {
  display: none;

}

.mobile-nav_drawer--active {
  position: fixed;
  top: 56px;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: var(--surface-2);
  z-index: var(--layer-2);

  @media (--md-n-above) {
    display: none;
  }
}

.mobile-nav_backdrop {
  display: none;
}

.mobile-nav_backdrop--active {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--layer-1);
  background-color: rgba(0, 0, 0, 0.5);

  @media (--md-n-above) {
    display: none;
  }
}

.links {
  display: none;
  height: 32px;
  align-items: center;
  gap: 32px;

  @media (--md-n-above) {
    display: flex;
  }
}

.links > a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: var(--text-1);
}

.links > a:hover {
  border-bottom: 2px solid var(--text-1);
}

.link--active {
  border-bottom: 2px solid var(--green-10);
  color: var(--green-10) !important;
}

.link--pending {
  color: var(--text-1);
}

footer {
}
